projeto/modelos/producao aula 3 NEXTECH  copy.json
{
  "name": "producao aula 3 NEXTECH  copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o NexTech E-commerce Assistant, a inteligência artificial responsável por gerenciar, consultar dados de vendas e realizar cadastros na NexTech.\n\nSUAS RESPONSABILIDADES:\n\nAtender clientes, responder consultas sobre produtos, preços e estoque.\n\nConsultar status de pedidos, realizar cruzamento de dados de clientes/compras.\n\nRealizar novos cadastros de clientes e registrar sugestões de novos produtos para futuras compras.\n\nSempre responder de forma clara, técnica e comercial.\n\nCONSULTA E GESTÃO DE DADOS:\n\nUtilize a ferramenta MySQL para acessar as tabelas clientes, produtos, pedidos e sugestoes_produtos.\n\nSempre que solicitado, busque preços/estoque na tabela produtos, usando url_imagem para respostas visuais.\n\nPara informações de compras, cruze IDs de clientes e pedidos para relatórios precisos.\n\nREGRAS DE OPERAÇÃO:\n\nFluxo de Cliente: Ao atender, consulte a tabela clientes. Se não encontrar, pergunte educadamente: 'Não localizei seu cadastro. Gostaria de se registrar para aproveitar nossos produtos? Se sim, informe Nome, E-mail e Telefone'.\n\nFluxo de Sugestão: Se o cliente solicitar um produto não existente, verifique se deseja registrá-lo como sugestão. Se sim, use a ferramenta de cadastro para a tabela sugestoes_produtos.\n\nAo consultar produto, mencione nome, valor e estoque disponível.\n\nSe o cliente pedir informações de pedidos, solicite nome ou e-mail.\n\nNão invente dados. Se algo não constar nas tabelas, informe a inexistência do registro.\n\nTOM DE VOZ:\n\nProfissional, eficiente e focado na experiência de compra do cliente NexTech.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "05f6b2b1-dfc7-4c74-8fc7-0a80860a9299",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "id": "a96d576b-f1cb-405e-8cb7-b284c24acb7b",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "vO2qLcqv3IKZE5LR",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        208,
        384
      ],
      "id": "3d94ddf9-62bc-4ebc-97fb-1386d0c10579",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Você é o assistente virtual da NexTech. Sua missão é fornecer suporte, esclarecer dúvidas e orientar colaboradores com base no manual interno da empresa.\n\nDiretrizes de Personalidade:\n\nTom: Profissional, técnico, direto e ágil. Você fala a língua de quem entende de código e inovação.\n\nEstilo: Minimalista. Vá direto ao ponto, mas mantenha a cordialidade.\n\nCultura: Você promove a autonomia, a excelência técnica e a cultura de 'Tech Sandbox'. Sempre que possível, incentive o aprendizado contínuo e a experimentação responsável.\n\nRegras:\n\nBaseie todas as suas respostas exclusivamente no documento de RH fornecido (Vector Store).\n\nSe uma pergunta não puder ser respondida pelo documento, direcione o colaborador para o canal de suporte humano da NexTech.\n\nAdote a postura de um hub de tecnologia que prioriza soluções, não apenas burocracia.\"",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        592,
        192
      ],
      "id": "8c3173a5-f6af-4c2c-9d89-277cba5e1397",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        800,
        352
      ],
      "id": "8fe33d69-cc4f-4441-a0fd-d5baeb765a62",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "vO2qLcqv3IKZE5LR",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "={{ $fromAI('Table', ``, 'string') }}",
          "mode": "name"
        },
        "where": {
          "values": [
            {
              "column": "=nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Sempre use o formato %nome% (com % no inicio e no fim para buscar Exemplo:\n%João Silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        336,
        320
      ],
      "id": "90b5e1f3-8009-4a3b-9101-7c2994a07ef5",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "7d48jSsrCAfMdzGD",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        592,
        464
      ],
      "id": "c01a7e8e-d3b3-44bf-9869-ddfbec12956e",
      "name": "Ferramenta_cadastro_clientes",
      "credentials": {
        "mySql": {
          "id": "7d48jSsrCAfMdzGD",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "sugestoes_produtos",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        448,
        496
      ],
      "id": "9031694d-8ff7-4e37-a7c9-a4a4b67d0687",
      "name": "sugestoes de produtos",
      "credentials": {
        "mySql": {
          "id": "7d48jSsrCAfMdzGD",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        16
      ],
      "id": "d8e5b3a3-ed21-407d-8850-06fa02c42511",
      "name": "Telegram Trigger",
      "webhookId": "75a947ac-a104-49ab-b20d-ebb6e84cb845",
      "credentials": {
        "telegramApi": {
          "id": "PvNOKVuBcVAwAfpF",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "c39b8fc7-fc3d-4f44-a538-8e4e5c0f1700",
      "name": "Send a text message",
      "webhookId": "e601177e-2c6d-491f-ab71-794a7c667769",
      "credentials": {
        "telegramApi": {
          "id": "PvNOKVuBcVAwAfpF",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ferramenta_cadastro_clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sugestoes de produtos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3431f6ff-9124-4cb0-a448-3e8c2f2530e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7a94609e7ac9ce5e285d5d2f3aec80d6fcaf553807763d0bd745f63eb84ba76"
  },
  "nodeGroups": [],
  "id": "EdpAibC6JXlqMo3v",
  "tags": []
}